<!-- edit_inventory.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/edit_inventory.css' %}">
    <title>庫存編輯</title>
</head>
<body>
    <h1>編輯庫存 - {{ product.name }}</h1>
    <div class="inventory-edit-container">
        <form class="update-form" action="{% url 'update_inventory' product.id %}" method="post">
            {% csrf_token %}
            {% for item in inventory_items %}
            <div class="inventory-item">
                <p>{{ item.size }}：</p>
                <input type="number" name="quantity_{{ item.size }}" value="{{ item.stock }}">
                <span>現有庫存：{{ item.stock }}</span>
            </div>
            {% endfor %}
            <button type="submit">更新庫存</button>
        </form>
        <a href="{% url 'inventory_edit' %}" class="back-link">返回</a>
    </div>
</body>
</html>
