{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掐好鞋店</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
        .advertisement-banner img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'images/1.jpeg' %}" alt="Image 1" title="">
                <img src="{% static 'images/2.jpeg' %}" alt="Image 2" title="">
                <img src="{% static 'images/3.jpeg' %}" alt="Image 3" title="">
                <img src="{% static 'images/4.jpeg' %}" alt="Image 4" title="">
                <img src="{% static 'images/5.jpeg' %}" alt="Image 5" title="">
                <img src="{% static 'images/6.jpeg' %}" alt="Image 6" title="">
            </div>

            <div class="advertisement">
                <marquee behavior="scroll" direction="left" scrollamount="5">
                    <span>歡慶掐好鞋店上市 加權指數突破20000點!!!</span>
                    <span>全館球鞋類全部免運費</span>
                    <span>歡迎參觀選購</span>
                </marquee>
            </div>

            <div style="position: relative;">
                <div style="position: absolute; top: 20px; right: 20px;">
                    {% if user.is_authenticated %}
                        <a href="{% url 'edit' %}">
                            <img src="{% static 'images/logout.png' %}" alt="Logged In" style="width: 60px; height: auto;" title="Logged In">
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <img src="{% static 'images/images.png' %}" alt="Link Image" style="width: 60px; height: auto;" title="Login">
                        </a>
                    {% endif %}
                </div>
                
                <div style="text-align: center; margin-top: 20px;">
                    <div class="title-container">
                        掐好鞋店 Pinchwell Sneaker Store
                        {% if user.is_authenticated %}
                            <div class="long-banner">
                                <div>
                                    <h2>歡迎回來，{{ user.username }}！</h2>
                                    <p>發現最新的鞋款趨勢。</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="card">
                <a href="product_list.html">
                    <img src="{% static 'images/ballot.png' %}" alt="Image 1" title="前往產品目錄">
                </a>
                <div class="card-content">
                    <h2>產品目錄</h2>
                    <p>查看我們的產品目錄</p>
                </div>
            </div>

            <div class="card">
                <a href="marketing">
                    <img src="{% static 'images/shoe-prints.png' %}" alt="Image 2" title="前往關於我們">
                </a>
                <div class="card-content">
                    <h2>關於我們</h2>
                    <p>了解更多關於我們的資訊</p>
                </div>
            </div>

            {% if user.is_authenticated %}
            <div class="card">
                <a href="{% url 'cart' %}">
                    <img src="{% static 'images/wishlist-heart.png' %}" alt="Image 6" title="查看我的訂單">
                </a>
                <div class="card-content">
                    <h2>查看我的訂單</h2>
                    <p>查看您所有的訂單</p>
                </div>
            </div>
            {% else %}
            <div class="card">
                <a href="signup">
                    <img src="{% static 'images/registered.png' %}" alt="Image 3" title="前往註冊">
                </a>
                <div class="card-content">
                    <h2>加入會員</h2>
                    <p>立即註冊成為我們的會員</p>
                </div>
            </div>
            {% endif %}

            <div class="card">
                <a href="cart">
                    <img src="{% static 'images/cart-shopping-fast.png' %}" alt="Image 4" title="前往購物車">
                </a>
                <div class="card-content">
                    <h2>查看購物車</h2>
                    <p>查看您的購物車內的商品</p>
                </div>
            </div>

            <div class="card">
                <a href="upcoming_products">
                    <img src="{% static 'images/calendar.png' %}" alt="Image 5" title="前往日曆">
                </a>
                <div class="card-content">
                    <h2>查看日曆</h2>
                    <p>查看即將開始發售的商品</p>
                </div>
            </div>

            <div class="card">
                <a href="feedback">
                    <img src="{% static 'images/form.png' %}" alt="Image 6" title="表單回饋">
                </a>
                <div class="card-content">
                    <h2>表單回饋</h2>
                    <p>將對於掐好鞋店的想法表達給我們</p>
                </div>
            </div>
        </div>

        <section class="hero">
            <h1>Hot Items This Month</h1>
            <p>Everyone else has these shoes, why haven't you bought them yet?</p>
            <a href="{% url 'product_list' %}" class="btn">View Our Product List</a>
        </section>

        <div class="product-carousel">
            <a href="{% url 'product_detail' 7 %}">
                <img src="{% static 'images/aj6_unc_white.webp' %}" alt="Product 7" title=" ">
            </a>
            <a href="{% url 'product_detail' 8 %}">
                <img src="{% static 'images/ja1dragon.webp' %}" alt="Product 8" title=" ">
            </a>
            <a href="{% url 'product_detail' 9 %}">
                <img src="{% static 'images/dame4.webp' %}" alt="Product 9" title="">
            </a>
            <a href="{% url 'product_detail' 6 %}">
                <img src="{% static 'images/aj1_low_dior.webp' %}" alt="Product 5" title="">
            </a>
        </div>

        <div class="advertisement-banner">
            <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
            <div class="ad-slides">
                <img src="{% static 'images/ad1.png' %}" alt="Ad 1" class="ad-slide">
                <img src="{% static 'images/ad2.png' %}" alt="Ad 2" class="ad-slide">
                <img src="{% static 'images/ad3.jpg' %}" alt="Ad 3" class="ad-slide">
                <img src="{% static 'images/ad4.jpg' %}" alt="Ad 4" class="ad-slide">
            </div>
            <button class="next" onclick="changeSlide(1)">&#10095;</button>
        </div>
    </main>

    <footer style="background-color: #533d28; color: white; padding: 20px 0; margin-top: auto;">
        <div style="max-width: 1200px; margin: 0 auto; text-align: center;">
            <div style="background-color: #86634b; padding: 20px; border-radius: 5px;">
                <h2 style="font-size: 20px; margin-bottom: 10px;">聯繫我們</h2>
                <p>TEL: +886-4-24916100 | FAX: +886-4-24911185 | E-MAIL: pinchwell@gmail.com</p>
                <p>NO. 321, Zong Zheng District, Taipei, Taiwan R.O.C.</p>
            </div>
            <div style="margin-top: 20px;">
                <a href="https://www.instagram.com/joy_0215_wu/"><img src="{% static 'images/ig.png' %}" alt="Instagram" style="width: 40px; height: auto; margin: 0 10px;"></a>
                <a href="https://www.youtube.com/@NEQLI"><img src="{% static 'images/ytb.png' %}" alt="YouTube" style="width: 40px; height: auto; margin: 0 10px;"></a>
            </div>
            <div style="background-color: #86634b; padding: 20px; border-radius: 5px; margin-top: 20px;">
                <h2 style="font-size: 20px; margin-bottom: 10px;">營業時間</h2>
                <p>週一至週五: 10:00 AM - 8:00 PM</p>
                <p>週六及週日: 12:00 PM - 6:00 PM</p>
            </div>
        </div>
        <div style="background-color: #86634b; padding: 10px; border-radius: 5px; margin-top: 20px; text-align: center;">
            <p>&copy; 2023 掐好鞋店. All rights reserved.</p>
        </div>
    </footer>

    <script>
        var currentSlide = 0;
        var slides = document.getElementsByClassName("ad-slide");

        function showSlide(slideIndex) {
            for (var i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex].style.display = "block";
        }

        function changeSlide(n) {
            currentSlide += n;
            if (currentSlide >= slides.length) {
                currentSlide = 0;
            } else if (currentSlide < 0) {
                currentSlide = slides.length - 1;
            }
            showSlide(currentSlide);
        }

        showSlide(currentSlide);
    </script>
</body>
</html>
