        /* 粉紅方塊和連結 */
        .header-content {
            position: relative;
        }

        .header-content img {
            width: 60px;
            height: auto;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .logo-container {
            text-align: center;
            margin-top: 20px;
            padding: 30px;
            background-color: #FADBD8;
            border-radius: 10px;
            font-size: 36px;
            font-weight: bold;
            font-family: monospace;
        }

        /* 調整圖片大小 */
        .container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px; /* 添加間距 */
        }

        .card {
            width: calc(50% - 20px); /* 每個卡片的寬度為視窗寬度的一半減去間距 */
            margin-bottom: 20px;
            border-radius: 8px;
            overflow: hidden;
            border: 4px solid #FADBD8; /* 淡粉紅色外框 */
            background-color: white; /* 卡片背景色 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 卡片陰影 */
        }

        .card img {
            width: 100%; /* 圖片寬度填滿卡片 */
            max-width: 150px; /* 圖片最大寬度為150px */
            height: auto;
            display: block;
            margin: 0 auto; /* 水平置中 */
        }

        .card-content {
            padding: 20px;
            background-color: #BBFFEE;  /* 較淺的Tiffany綠色背景 */
            text-align:center
        }
        
        .nav-links li {
            list-style-type: none;
            margin-bottom: 20px;
        }

        .nav-links a {
            text-decoration: none;
            color: #333;
            font-size: 26px;
        }
        .logo {
            display: flex;
            justify-content: space-between;
            padding: 0 20px; /* 左右空白 */
        }

        .logo img {
            height: auto ; /* 設置圖片高度 */
            width: calc((100vw - 40px) / 6); /* 計算每張圖片的寬度 */
        }

        /* 設置整個網頁的背景色 */
        body {
            background-color: #e6f7ff; /* 更淺的藍色 */
        }

        .product-carousel a:not(:first-child) {
            display: none;
        }

        .product-carousel {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .hero {
            text-align: center;
        }
        
        .hero h1 {
            font-size: 36px; /* 調整字體大小為36像素 */
        }
        
        .hero p {
            font-size: 28px; /* 調整字體大小為36像素 */
        }

        .product-carousel img {
            width: 400px; /* 調整圖片寬度 */
            height: auto; /* 根據比例自動調整高度 */
        }
