/* inventory_list.css */

body {
    background-color: #F5F5F5; /* 淺灰色背景 */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px; /* 縮小寬度使其更集中 */
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff; /* 白色背景 */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 柔和的陰影 */
    text-align: center;
}

h1 {
    color: #333333; /* 深灰色 */
    margin-bottom: 20px; /* 增加標題下方的間距 */
    font-size: 2em;
}

.product-select {
    margin-bottom: 20px;
    font-size: 1.1em;
    padding: 10px;
    width: 100%;
}

.button {
    padding: 15px 30px; /* 增加內邊距 */
    background-color: #FF5733; /* 明亮的橙色 */
    color: #ffffff; /* 白色文字 */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s; /* 添加背景色和縮放過渡效果 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 小陰影增加立體感 */
}

.button:hover {
    background-color: #C70039; /* 深橙色 */
    transform: translateY(-3px); /* 懸停時上移效果 */
}
