{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <title>Product Detail</title>
</head>
<style>
    #cart-button-img {
    width: 80px;
    /* 可根據需要調整高度 */
    /* height: auto; */
}
    </style>>
<body>

<div class="navbar">
    Product Detail
</div>

<div class="product-detail-container">
    <div class="product-detail-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-detail-info">
        <h1>{{ product.name }}</h1>
        <p>產品介紹： {{ product.description }}</p>
        <p> </p>
        <p>產品價格： ${{ product.price }}</p>
        <p> </p>
        <p>產品品牌： {{ product.brand }}</p>
        
        <p>Size:</p>
        <form id="cart-form" action="{% url 'add_to_cart' product.pk %}" method="post">
            {% csrf_token %}
            <select name="size">
                {% for size_choice in product.SIZE_CHOICES %}
                    <option value="{{ size_choice.0 }}">{{ size_choice.1 }}</option>
                {% endfor %}
            </select>
            <input type="image" id="cart-button-img" src="{% static 'images/add_to_cart_button.png' %}" alt="加入購物車">

        </form>

        <a href="{% url 'product_list' %}" class="btn" style="position: absolute; top: 35px; left: 10px; border: 2px solid #ccc; padding: 8px 15px; border-radius: 5px; background-color: white; color: #f08080;">
            Back to Product List
        </a>
    </div>
</div>

<script>
document.getElementById('cart-form').addEventListener('submit', function(event) {
    event.preventDefault(); // 阻止默认表單提交行為

    // 獲取表單數據
    var formData = new FormData(this);

    // 發送AJAX請求
    fetch(this.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
    })
    .then(response => {
        if (response.ok) {
            // 如果請求成功，重定向到產品列表頁面
            window.location.href = "{% url 'product_list' %}";
        } else {
            // 處理錯誤情況
            alert('Failed to add to cart. Please try again.');
        }
    })
    .catch(error => {
        // 處理網絡錯誤
        alert('Network error. Please try again.');
    });
});

</script>
<script>

    </script>
    

</body>
</html>
