{% load static  %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>員工介面</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <h1>員工介面</h1>
        <div class="employee-name">
            偉大的掐好成員 您好!
        </div>
        <div class="buttons">
            <a href="{% url 'inventory_query' %}" class="button">存貨查詢</a>
            <a href="{% url 'inventory_alert' %}" class="button">庫存預警</a>
            <a href="{% url 'inventory_list' %}" class="button">庫存編輯</a>
        </div>
    </div>
</body>
</html>
