<!-- employee_profile.html -->

{% extends 'base.html' %}
{% block content %}
  <h2>員工資料</h2>
  <div>
    <h3>{{ employee.name }}</h3>
    <img src="{{ employee.profile_picture.url }}" alt="大頭貼">
    <p>員工帳號: {{ employee.user.username }}</p>
    <p>員工編號: {{ employee.employee_id }}</p>
  </div>
  <hr>
  <h3>修改資料</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ password_form.as_p }}
    {{ edit_form.as_p }}
    <button type="submit">提交</button>
  </form>
{% endblock %}
